/*==============================================================================
    Page Structure
==============================================================================*/

body {
    width: 55em;
    margin: 0 auto;
}

/* Header and its components */
#header {
    overflow: auto;
    padding: 0.5em 1.0em;
}

#logininfo-wrapper {
    margin-top: -0.5em;
    float: right;
}

#title-wrapper {   
}

#title {
    margin: 0em;
}

/* Main and its components */
#main {
    width: 55em;
    overflow: auto;
    margin: 0 0 0 0;
}

#content-wrapper {
    width: 40em;
    float: left;
}

#content {
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

#sidebar-wrapper {
    margin: 0 0 0 40em;
    overflow: hidden;
}

#sidebar {
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

/* Footer and its components */
#footer {
    overflow: auto;
    padding: 0.5em 1em;
}

#footerleft-wrapper {
    float: left;
}

#footerright-wrapper {
    float: right;
}

/*==============================================================================
    Detailed visual structure
==============================================================================*/

/* Page title */
h1.page-title, .page-subtitle {
    margin: 0;
}

/* Current user information */
#logininfo ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 0.8em;
}

#logininfo ul > li {
    display: inline;
    margin: 0 0.3em;
}

/* Article */
.article {
    margin-bottom: 2em;
}

.article-header {
    padding: 2px 0.25em;
    margin: 0.25em 0 0 0;
}

.article-edit {
    float: right;
    margin: 0;
}

.article-content {
    margin-left: 1em;
    line-height: 1.4em;
}

.article-title {
    margin: 0;
}

.article-info {
    margin: 0.3em 0 0 0;
    font-size: 0.8em;
}

.article-read-more {
    margin-left: 1em;
}

/* Sidebar gadgets */
.gadget {
    margin: 0;
}

.gadget + .gadget {
    margin: 1em 0;
}

.gadget-header {
    margin-bottom: 0;
}

.gadget-body {
    padding-top: 0.4em;
}

/* Sidebar detail */
#sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.8em;
    margin-top: 0;
}

#sidebar li {
    padding: 0;
}

#sidebar li > a {
    padding: 0.2em 0.5em 0.2em 2em;
    text-indent: -1em;
    display: block;
}

#sidebar h3 {
    font-size: 1.0em;
    padding: 0 0.5em;
    margin: 0;
}

/* Create/Edit Article form */
#article-edit-table th, #article-create-table th {
    text-align: left;
}

#article-edit-table {
}

#article-edit-table .text-field td,
#article-create-table .text-field td {
    width: 37em;
}

#article-edit-table textarea,
#article-create-table textarea {
    width: inherit;
}

form p.datetime {
    margin: 0;
}

/*==============================================================================
    Fonts
==============================================================================*/

body, h1, #menu, #breadcrumbs, #logininfo, #sidebar, #footerleft, #footerright, 
.page-subtitle, .article-title, .article-info, .article-edit, .article-read-more
{
    font-family: "Corbel", sans-serif;
}

.article-content {
    font-family: "Garamond", serif;
    font-size: 1.1em;
}

/*==============================================================================
    Colors and Borders
==============================================================================*/
#header, #footer {
    background: #dddddd;
}
#header {
    border-bottom-left-radius: 1.0em;
    border-bottom-right-radius: 1.0em;
}
#footer {
    border-top-left-radius: 1.0em;
    border-top-right-radius: 1.0em;
}
#logininfo :link, #logininfo :visited {
    color: #000;
}
#logininfo .username {
    font-weight: bold;
}
#main {
}
#content-wrapper {
}
/*
:link {
    color: #cc3333;
}
:visited {
    color: #551a8b;
}*/
h1.page-title {
    color: #000000;
    text-shadow: 1px 1px 1px #888888;
}
.page-subtitle {
    color: #555555;
}
.article-header {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #bbbbbb;
    background: #eeeeee;
}
.article-title {
    text-shadow: 1px 1px 1px #bbbbbb;
}
.article-info {
    color: #555555;
}
.article-content {
    color: #000000;
}
.gadget {
    /*border: 1px solid #bbbbbb;
    border-top: 1px solid #888888;*/
}
.gadget-header {
    border: 1px solid #888888;
    border-bottom: 1px solid #bbbbbb;
    background: #dddddd;
    color: #000000;
    text-shadow: 1px 1px 1px #aaaaaa;
}
.gadget-body {
    border: 1px solid #cccccc;
    border-top: none;
}
.gadget-body li:hover {
    background: #eeeeee;
}
.article {
    border-bottom: solid 1px #dddddd;
}
.article:last-child {
    border-bottom: none;
}

.article-edit a {
    font-size: 0.8em;
}

#header, #footer {
    border: 1px solid #888888;
    box-shadow: 1px 1px 3px #999999;
    
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(187,187,187,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(187,187,187,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(187,187,187,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(187,187,187,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(187,187,187,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(187,187,187,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
}

#header {
    border-top: none;
}
#footer {
    border-bottom: none;
}

.copyright, .powered-by-goblog {
    color: #777777;
    font-size: 0.8em;
    font-weight: bold;
}
.copyright :link, .powered-by-goblog :link, .copyright :visited, .powered-by-goblog :visited {
    color: #000000;
}






