/* page structure */

body {
    width: 55em;
    margin: 0 auto;
}

th {
    text-align: left;
}

#header {
    overflow: auto;
    padding: 0.5em 1.0em;
}

#logininfo-wrapper {
    float: right;
}

#title-wrapper {   
}

#title {
    margin: 0em;
}

#main {
    width: 55em;
    overflow: auto;
    margin: 0 0 0 0;
}

#content-wrapper {
    width: 40em;
    float: left;
}

#content {
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

#sidebar-wrapper {
    margin: 0 0 0 40em;
    overflow: hidden;
}

#sidebar {
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

#footer {
    overflow: auto;
    padding: 0.5em;
}

#footerleft-wrapper {
    float: left;
}

#footerright-wrapper {
    float: right;
}

#title h1 {
    margin: 0;
}

.article-edit {
    float: right;
    margin-top: 0.3em;
}

.article-content {
    margin-left: 1em;
    line-height: 1.4em;
}

.article-title {
    margin-bottom: 0em;
}

.article-info {
    margin-top: 0.3em;
    font-size: 0.8em;
}

.page-title {
    margin: 0;
}
.page-subtitle {
    margin: 0;
}

form p.datetime {
    margin: 0;
}

#logininfo ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 0.8em;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 2em;
    font-size: 0.8em;
}

#sidebar li + li {
    margin-top: 0.3em;
}

#sidebar li {
    text-indent: -1em;
}

#sidebar h3 {
    font-size: 1.0em;
    padding: 0 0.5em;
}

#sidebar h3 + ul {
    margin-top: 0;
}

#sidebar ul + h3 {
    margin-bottom: 0;
}

/* fonts */

h1, #menu, #breadcrumbs, #logininfo, #sidebar, #footerleft, #footerright, .page-subtitle,
.article-title, .article-info, .article-edit, .article-read-more
{
    font-family: "Corbel", sans-serif;
}

.article-content {
    font-family: "Garamond", serif;
    font-size: 1.1em;
}

/* colors and borders */
#header, #footer-wrapper {
    background: #dddddd;
}
#header {
    border-bottom-left-radius: 1.0em;
    border-bottom-right-radius: 1.0em;
}
#footer-wrapper {
    border-top-left-radius: 1.0em;
    border-top-right-radius: 1.0em;
}
#main {
}
#content-wrapper {
    border-right: 1px solid #dddddd;
}
/*
:link {
    color: #cc3333;
}
:visited {
    color: #551a8b;
}*/
.page-title {
    color: #000000;
}
.page-subtitle {
    color: #555555;
}
.article-info {
    color: #555555;
}
.article-content {
    color: #000000;
}
#sidebar h3 {
    background: #dddddd;
    color: #000000;
    border-radius: 0.8em;
}
.article + .article {
    border-top: solid 1px #bbbbbb;
}


