{% extends "goblog/blogbase.html" %}


{% block headtitle %}
{{ article.title }} ({{ article.blog.title }}) 
{% endblock headtitle %}


{% block content %}
<p>Isn't this a cool article?</p>

<div class="article">
  <h2 class="article-title">{{ article.title }}</h2>
  <p class="article-info">by <a href="TODO">{{ article.author.username }}</a> -- 
    {{ article.published }} {{ article.published|date:"e (\U\T\CO)" }}
  </p>
  <div class="article-content">
    {{ article.content.text_start|safe }}
    <div id="read-more"></div>
    {{ article.content.text_end|safe }}
  </div> <!-- div.article-content -->
</div> <!-- div.article -->
{% endblock content %}

