{% extends "goblog/blogbase.html" %}


{% block headtitle %}
{{ blog.title }}: New Article
{% endblock headtitle %}


{% block title %}
<h1>{{ blog.title }}: New Article</h1>
{% endblock title %}


{% block content %}
<p>This is going to be a cool article.</p>

{% if preview_content %}
<p>Preview:</p>
<div class='article'>
<div class='article-content'>
{{ preview_content|safe }}
</div>
</div>
{% endif %}

<div>
  <form action="{% url goblog-article-create blogid=blog.name %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="submit" type="submit" value="Preview" />
    <input name="submit" type="submit" value="Submit" />
  </form>
</div>

{% endblock content %}
