{% extends theme.templates.base_blog %}
{% load goblog_tags %}


{% block headtitle %}
{{ article.title }} ({{ article.blog.title }}) 
{% endblock headtitle %}


{% block content %}
<p>Isn't this a cool article?</p>

{% include "goblog/include/article.html" with render_full_article="true" %}

{% comment %}
<div class="article">
    
  {% goblog_can_edit_article user article as "can_edit" %}
  {% if can_edit %}
    <p class="article-edit">
      <a href="{% goblog_blogurl 'goblog-article-edit' blog.name articleid=article.id %}">Edit</a>
    </p>
  {% endif %}

  <h2 class="article-title">{{ article.title }}</h2>
  
  <p class="article-info">by <a href="TODO">{{ article.author.username }}</a> -- 
    {{ article.published }} {{ article.published|date:"e (\U\T\CO)" }}
  </p>
  
  <div class="article-content">
    {{ article.content.text_start|safe }}
    <div id="read-more"></div>
    {{ article.content.text_end|safe }}
  </div> <!-- div.article-content -->
  
</div> <!-- div.article -->
{% endcomment %}
{% endblock content %}

