{% extends "goblog/blogbase.html" %}
{% load goblog_tags %}


{% block headtitle %}
{{ blog.title }}: Edit Article
{% endblock headtitle %}


{% block title %}
<h1>{{ blog.title }}: Edit Article</h1>
{% endblock title %}


{% block content %}
<p>This is going to be a cool article.</p>

{% if preview_start %}
<p>Preview:</p>
<div class='article'>
<div class='article-content'>
    {{ preview_start|safe }}
    <div id="read-more"></div>
    {{ preview_end|safe }}
</div>
</div>
{% endif %}

<div>
  <form action="{% goblog_blogurl 'goblog-article-edit' blog.name articleid=article.id %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>Title:</th>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <th>Publish on:</th>
        <td>{{ form.published }}</td>
      </tr>
      <tr>
        <th>Article compiler:</th>
        <td>{{ form.compiler_name }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.text }}</td>
      </tr>
    </table>
    <input name="submit" type="submit" value="Preview" />
    <input name="submit" type="submit" value="Submit" />
  </form>
</div>

{% endblock content %}
