{% load static from staticfiles %}
<!doctype html>
<html>
<head>
  <title>{% block headtitle %}{% endblock headtitle %}</title>
    
  {% spaceless %}
  {# ===== CSS goes below here ===== #}
    {# the following 'admin' CSS requires the admin to be an installed app #}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>
    {% if form %}{{ form.media.css }}{% endif %}
    
    {% block css %}{% endblock css %}
    
    {% for css in theme.extra_css %}
      <link rel="stylesheet" type="text/css" href="{% static css %}" />
    {% endfor %}
  {% endspaceless %}
    
  {# ===== JavaScript goes below here ===== #}
  {% spaceless %}
    {# __admin_media_prefix__ needed for proper functioning of admin widgets #}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script type="text/javascript" src="{% url goblog-i18n-javascript %}"></script>
    
    {# the following 'admin' javascript requires the admin to be an installed app #}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {% if form %}{{ form.media.js }}{% endif %}
    
    {% block js %}{% endblock js %}
    
    {% for js in theme.extra_js %}
      <script type="text/javascript" src="{% static js %}"></script>
    {% endfor %}
  {% endspaceless %}
    
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
