{% extends theme.templates.base_blog %}
{% load goblog_tags %}

{% block content %}
<p>Welcome to the blog!</p>

{% for article in articles %}
  {% include "goblog/include/article.html" %}
  
  {% comment %}
  <div class="article">
    
    <div class="article-header">
      {% goblog_can_edit_article user article as "can_edit" %}
      {% if can_edit %}
        <p class="article-edit">
          <a href="{% goblog_blogurl 'goblog-article-edit' blog.name articleid=article.id %}">Edit</a>
        </p>
      {% endif %}
    
      <h2 class="article-title">
        <a href="{% goblog_blogurl 'goblog-article-view' blog.name articleid=article.id %}">{{ article.title }}</a>
      </h2>
    
      <p class="article-info">by <a href="TODO">{{ article.author.username }}</a> -- 
        {{ article.published }} {{ article.published|date:"e (\U\T\CO)" }}
      </p>
    </div>
    
    <div class="article-content">
    {{ article.content.text_start|safe }}
    </div> <!-- div.article-content -->
    
    {% if article.content.text_end %}
      <p class="article-read-more">
        <a href="{% goblog_blogurl 'goblog-article-view' blog.name articleid=article.id %}#read-more">[ read more... ]</a>
      </p>
    {% endif %}
    
  </div> <!-- div.article -->
  {% endcomment %}
{% endfor %}
{% endblock content %}


