{% extends "goblog/blogbase.html" %}
{% load tz %}
{% load goblog_tags %}

{% block content %}
<p>Welcome to the blog!</p>

{% for article in articles %}
  <div class="article">
    
    <h2 class="article-title">
      <a href="{% url article-view blogid=blog.name articleid=article.id %}">{{ article.title }}</a>
    </h2>
    
    {% goblog_can_edit_article user article as "can_edit" %}
    {% if can_edit %}
      <p>
        <a href="{% url article-edit blogid=blog.name articleid=article.id %}">Edit</a>
      </p>
    {% endif %}
    
    <p class="article-info">by <a href="TODO">{{ article.author.username }}</a> -- 
      {{ article.published }} {{ article.published|date:"e (\U\T\CO)" }}
    </p>
    
    <div class="article-content">
    {{ article.content.text_start|safe }}
    </div> <!-- div.article-content -->
    
    {% if article.content.text_end %}
      <p class="article-read-more">
        <a href="{% url article-view blogid=blog.name articleid=article.id %}#read-more">read more...</a>
      </p>
    {% endif %}
    
  </div> <!-- div.article -->
{% endfor %}
{% endblock content %}


{% block sidebar %}
<h3>Archives</h3>
<ul>
  {# temporarily stop conversion from UTC to locatime #}
  {% localtime off %}
    {% for item in archives %}
      <li><a href="TODO">{{ item.date|date:"M Y" }} ({{ item.count }})</a></li>
    {% endfor %}
  {% endlocaltime %}
</ul>

<h3>Recent Articles</h3>
<ul>
  {% for article in recent_articles %}
    <li>
      <a href="{% url article-view blogid=blog.name articleid=article.id %}">{{ article.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock sidebar %}

