{% extends theme.templates.base %}
{% load goblog_tags %}
{% load guardian_tags %}
{% load tz %}


{% block headtitle %}
{{ blog.title }}
{% endblock headtitle %}


{% block logininfo %}
<ul>
    {% if user.is_authenticated %}
        <li>{{ user.username }}</li>
        <li><a href="{{LOGOUT_URL}}?next={{LOGOUT_REDIRECT_URL}}">Log out</a></li>
        {% if blog %}
          {% get_obj_perms user for blog as "blog_perms" %}
          {% if "create_article" in blog_perms %}
            <li><a href="{% goblog_blogurl 'goblog-article-create' blog.name %}">New Article</a></li>
          {% endif %}
        {% endif %}
    {% else %}
        <li><a href="{{LOGIN_URL}}?next={{LOGIN_REDIRECT_URL}}">Log in</a></li>
    {% endif %}
</ul>
{% endblock logininfo %}


{% block title %}
<h1>{{ blog.title }}</h1>
{% endblock title %}


{% block sidebar %}
<ul>
    <li><a href="{% goblog_blogurl 'goblog-blog-main' blog.name %}">{{ blog.title }}</a></li>
</ul>
<h3>Archives</h3>
<ul>
  {# temporarily stop conversion from UTC to locatime #}
  {% localtime off %}
    {% for item in archives %}
      <li><a href="{% goblog_blogurl 'goblog-archive-view' blog.name year=item.date.year|stringformat:'04d' month=item.date.month|stringformat:'02d' %}">{{ item.date|date:"M Y" }} ({{ item.count }})</a></li>
    {% endfor %}
  {% endlocaltime %}
</ul>

<h3>Recent Articles</h3>
<ul>
  {% for article in recent_articles %}
    <li>
      <a href="{% goblog_blogurl 'goblog-article-view' blog.name articleid=article.id %}">{{ article.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock sidebar %}


{% block footerleft %}
Copyright &copy; 2012 David White
{% endblock footerleft %}


{% block footerright %}
Powered by GoBlog, a Django application.
{% endblock footerright %}

