{% extends theme.templates.goblog_base %}
{% load goblog_tags %}
{% load tz %}


{% block headtitle %}
  {{ blog.title }}
{% endblock headtitle %}


{% block title %}
  {% include theme.templates.include_header %}
{% endblock title %}


{% block sidebar %}
<div class="gadget">
    <div class="gadget-header">
        <h3>Menu</h3>
    </div>
    <div class="gadget-body">
        <ul>
            <li><a href="{% goblog_blogurl 'goblog-blog-main' blog.name %}">{{ blog.title }}</a></li>
        </ul>
    </div>
</div>

<div class="gadget">
    <div class="gadget-header">
        <h3>Archives</h3>
    </div>
    <div class="gadget-body">
        <ul>
          {% if archives.count %}
            {# temporarily stop conversion from UTC to locatime #}
            {% localtime off %}
              {% for item in archives %}
                <li><a href="{% goblog_blogurl 'goblog-archive-view' blog.name year=item.date.year|stringformat:'04d' month=item.date.month|stringformat:'02d' %}">{{ item.date|date:"M Y" }} ({{ item.count }})</a></li>
              {% endfor %}
            {% endlocaltime %}
          {% else %}
            <li><em>None</em></li>
          {% endif %}
        </ul>
    </div>
</div>

<div class="gadget">
    <div class="gadget-header">
        <h3>Recent Articles</h3>
    </div>
    <div class="gadget-body">
        <ul>
          {% if archives.count %}
            {% for article in recent_articles %}
              <li>
                <a href="{% goblog_blogurl 'goblog-article-view' blog.name articleid=article.id %}">{{ article.title }}</a>
              </li>
            {% endfor %}
          {% else %}
            <li><em>None</em></li>
          {% endif %}
        </ul>
    </div>
</div>
{% endblock sidebar %}


